.leftSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

@media screen and (max-width: 768px){
  .leftSection {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }
}

@media screen and (max-width: 640px){
  .leftSection {
    width: 97%;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }
}